.alertify-notifier .ajs-message.ajs-error{
    color:#ffffff;
    border: 1px solid #ffffff;
    text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
}
.print{display: none}

.select2-selection__choice{
 background: cadetblue !important;
}